.main-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 590px;
  padding: 20px 0;
}
.main-content {
  justify-content: center;
  width: 100%;
  padding: 60px 60px;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
    padding: 0 20px;
  }
}

.hero-section {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .hero-section {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.hero-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .hero-column {
    width: 100%;
  }
}

.hero-image-wrapper {
  align-items: start;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .hero-image-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}

.hero-image {
  aspect-ratio: 1.23;
  object-fit: contain;
  object-position: center;
  width: 488px;
  margin-top: 9px;
  max-width: 100%;
}

.hero-text-content {
  display: flex;
  margin-top: 6px;
  padding-bottom: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .hero-text-content {
    max-width: 100%;
    margin-top: 40px;
  }
}

.hero-title {
  color: #242851;
  letter-spacing: -0.58px;
  font:
    800 48px/100% Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  margin: 0;
}

@media (max-width: 991px) {
  .hero-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.hero-subtitle {
  color: #242851;
  margin-top: 24px;
  font:
    400 20px/140% Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .hero-subtitle {
    max-width: 100%;
  }
}

.articles-list {
  background-color: #fff;
  display: flex;
  margin-top: 44px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
  .articles-list {
    max-width: 100%;
    margin-top: 40px;
  }
}

.article-card {
  justify-content: center;
  border-radius: 6px;
  box-shadow:
    0 2px 4px -2px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white, #fff);
  padding: 16px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .article-card {
    max-width: 100%;
  }
}

.article-card-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .article-card-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.article-card-image-wrapper {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 18%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .article-card-image-wrapper {
    width: 100%;
  }
}

.article-card-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  align-self: stretch;
  max-width: 100%;
}

@media (max-width: 991px) {
  .article-card-image {
    margin-top: 32px;
  }
}

.article-card-text-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 82%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .article-card-text-content {
    width: 100%;
  }
}

.article-card-title {
  letter-spacing: -0.14px;
  font:
    600 24px/133% Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  margin: 0;
}

@media (max-width: 991px) {
  .article-card-title {
    max-width: 100%;
  }
}

.article-card-subtitle {
  color: #ff7751;
  font-family: Inter, sans-serif;
  margin: 8px 0 0;
}

@media (max-width: 991px) {
  .article-card-subtitle {
    max-width: 100%;
  }
}

.article-card-description {
  margin: 8px 0 0;
  font:
    16px/28px Inter,
    sans-serif;
}

@media (max-width: 991px) {
  .article-card-description {
    max-width: 100%;
  }
}

.article-card-author {
  display: flex;
  margin-top: 14px;
  gap: 8px;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .article-card-author {
    flex-wrap: wrap;
    white-space: initial;
  }
}

.article-card-author-avatar {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
}

.article-card-author-name {
  text-overflow: ellipsis;
  font-family: Inter, sans-serif;
}

@media (max-width: 991px) {
  .article-card-author-name {
    white-space: initial;
  }
}
